<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحة الإدارة</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7882c25953.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/admin.css">


</head>


<script type="module">
    import { fetchThemes } from '../static/themesFetch.js'; fetchThemes();
</script>



<body onload="startSpinner()">


    <div class="d-flex justify-content-center">
        <div id="loader" class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>


    <div class="container">
        <h1 id="headerOfPruds">
            <div id="productsPageIcon" title="صفحة المنتجات" onclick="location.assign('/main')"><i class="fas fa-apple-alt"></i></div>
            <div id="title">لوحة إدارة المتجر</div>
            <div id="loginPageIcon" title="تسجيل الخروج" onclick="location.assign('/login')"><i class="fas fa-power-off"></i></div>
        </h1>


        <div id="cardContainer">
            <div style="width:100%">
                <div id="form" class="dbInfo" class="card">
                    <div class="card-body">
                        <div class="dashboardTitles">طريقة عمل اللوحة</div>
                        <h5 style="font-size: 19px;text-align: right;" class="card-title">
                            <label for="productIDLabel" id="productIDLabel">الإضافة: يجب إدخال جميع
                                الخانات</label><br><br>
                            <label for="productTitleLabel" id="productTitleLabel">التحديث: يكون عن طريق الرقم التعريفي
                                 ويجب إدخال جميع الخانات</label><br><br>
                            <label for="productTitleLabel" id="productTitleLabel">الحذف: يكون عن طريق الرقم
                                التعريفي</label>
                            <div class="card-link" id="pressToNotShowBtn">عدم الإظهار مرة أخرى</div>
                        </h5>
                    </div>
                </div>
            </div>

            <div style="width: 100%;">
                <div id="form" class="card infoAddCard" style="width: 80%;">
                    <div class="card-body">
                        <div class="dashboardTitles">لوحة التخصيصات</div>
                        <h5 class="card-title">
                            <label for="productIDLabel" id="productIDLabel">اسم المتجر</label><br>
                            <input style="direction: rtl;" type="text" id="storeName" placeholder="ليظهر في صفحة المنتجات"><br>
                            <label for="productIDLabel" id="productIDLabel">رقم الواتساب</label><br>
                            <div class="input-group mb-3">
                                <button id="countryCodeTitle" class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">الدولة</button>
                                <ul id="listOfCountriesCodes" class="dropdown-menu">
                                    حدثت مشكلة في التحميل الرجاء الإنتظار حتى حل المشكلة
                                </ul>
                                <input style="direction: rtl;" type="tel" placeholder="بدون كتابة أول صفر" id="storeNum" aria-label="Text input with dropdown button" maxlength="9">
                            </div>

                        </h5>
                    </div>

                    <div style="direction: rtl;" class="btnsContainer" class="card-body">
                        <div id="addInfo" class="addToCartBtn"><a class="card-link">إضافة <i class="fas fa-plus"></i></a></div>
                        <div id="updInfo" class="addToCartBtn"><a class="card-link">تحديث <i class="fas fa-edit"></i></a></div>
                    </div>

                    <label for="themeLabel" id="themeLabel">سمة المتجر</label><br>
                    <div id="themesContainer">


                        <div class="circleTheme-selected" style="display:none;"></div>
                        <div class="circleTheme" id="originalTheme" style="background-color: #d4cbabc0;"></div>
                        <div class="circleTheme" id="blueTheme" style="background-color: #4169E1;"></div>
                        <div class="circleTheme" id="greenTheme" style="background-color: #097969;"></div>
                        <div class="circleTheme" id="redTheme" style="background-color: #AA4A44;"></div>
                        <div class="circleTheme" id="pinkTheme" style="background-color: #ad5498;"></div>
                        <div class="circleTheme" id="greyTheme" style="background-color: #676767;"></div>


                    </div>
                    <ul id="infoList" style="direction: rtl;" class="list-group list-group-flush">
                        <div id="name">حدث وانتظر إذا كنت قد أضفت</div>
                        <div id="num"></div>
                    </ul>
                </div>
            </div>




            <div id="form" class="card" style="width: 80%;">
                <div class="card-body">
                    <div class="dashboardTitles">لوحة المنتجات</div>
                </div>

                <div style="direction: rtl;" class="btnsContainer" class="card-body">
                    <div onclick="deleteOrEditPromo(null, 'add')" data-bs-toggle="modal" data-bs-target="#productModal" class="addToCartBtn"><a class="card-link">إضافة <i class="fas fa-plus"></i></a></div>
                </div>
                <ul id="productsList" style="direction: rtl; height: 30px; overflow:hidden;" class="list-group list-group-flush">
                    حدث وانتظر إذا كنت قد أضفت
                </ul>
            </div>


            <div id="form" class="card" style="width: 80%;">
                <div class="card-body">
                    <div class="dashboardTitles">لوحة الأكواد الترويجية</div>
                </div>

                <div style="direction: rtl;" class="btnsContainer" class="card-body">
                    <div onclick="deleteOrEditPromo(null, 'add')" data-bs-toggle="modal" data-bs-target="#promoModal" class="addToCartBtn"><a class="card-link">إضافة <i class="fas fa-plus"></i></a></div>
                </div>

                <ul id="codesList" style="direction: rtl;height: 30px; overflow:hidden;" class="list-group list-group-flush">
                    حدث وانتظر قليلا إذا كنت قد أضفت
                </ul>

            </div>

        </div>





    </div>

    <!-- Modal Promo -->
    <div class="modal fade" id="promoModal" tabindex="-1" role="dialog" aria-labelledby="promoModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div style="background-color: var(--modals); direction: rtl;" class="modal-content card">
                <div class="modal-header">
                    <h5 class="modal-title" id="promoModalLongTitle">
                        عملية على الأكواد
                    </h5>
                    <button style="border: 0; background-color: transparent;" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 class="card-title">
                        <label for="codeIDLabel" id="codeIDLabel">الرقم التعريفي للكود</label>
                        <input style="direction: rtl;" style="direction: rtl;" type="tel" id="codeID" placeholder="لحذف الكود أو تحديثه لاحقا">
                        <label for="codeNameLabel" id="codeNameLabel">اسم الكود</label>
                        <input style="direction: rtl;" style="direction: rtl;" type="text" id="codeName" placeholder="سيستخدمه العملاء للاستفادة من الكود">
                        <label for="codeAmountLabel" id="codeAmountLabel">نسبة التخفيض</label>
                        <input style="direction: rtl;" type="tel" id="codeAmount" placeholder="بدون كتابة %">
                    </h5>
                </div>
                <div style="direction: rtl;" class="btnsContainer" class="card-body">
                    <div class="addToCartBtn">
                        <a data-bs-dismiss="modal" id="addCode" class="card-link">إضافة <i class="fas fa-plus"></i></a>
                        <a data-bs-dismiss="modal" id="delCode" class="card-link">حــذف <i class="fas fa-trash-alt"></i></a>
                        <a data-bs-dismiss="modal" id="updCode" class="card-link">تعديل <i class="fas fa-edit"></i></a>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                </div> -->
            </div>
        </div>
    </div>


    <!-- Modal Product -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div style="background-color: var(--modals); direction: rtl;" class="modal-content card">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLongTitle">
                        عملية على المنتجات
                    </h5>
                    <button style="border: 0; background-color: transparent;" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 class="card-title">
                        <label for="productIDLabel" id="productIDLabel">الرقم التعريفي للمنتج</label>
                        <input style="direction: rtl;" type="tel" id="productID" placeholder="لحذف المنتج أو تحديثه لاحقا">
                        <label for="productTitleLabel" id="productTitleLabel">عنوان المنتج</label>
                        <input style="direction: rtl;" type="text" id="productTitle" placeholder="العنوان الذي سيقرأه العملاء">
                        <label for="productPriceLabel" id="productPriceLabel">سعر المنتج</label>
                        <input style="direction: rtl;" style="direction: rtl;" type="tel" id="productPrice" placeholder="سعر المنتج رقما">
                        <label for="productImg">صورة للمنتج</label>
                        <input style="direction: ltr;" name="productImg" id="productImg" type="file" accept="image/*">
                    </h5>
                </div>
                <div style="direction: rtl;" class="btnsContainer" class="card-body">
                    <div class="addToCartBtn">
                        <a data-bs-dismiss="modal" id="addProd" class="card-link">إضافة <i class="fas fa-plus"></i></a>
                        <a data-bs-dismiss="modal" id="delProd" class="card-link">حــذف <i class="fas fa-trash-alt"></i></a>
                        <a data-bs-dismiss="modal" id="updProd" class="card-link">تعديل <i class="fas fa-edit"></i></a>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                </div> -->
            </div>
        </div>
    </div>

    <style>
        .spinner-border {
            width: 6rem;
            height: 6rem;
            border: 1em solid currentColor;
            border-right-color: transparent;
            margin-top: 300px;
            z-index: 100;
        }
    </style>
    <script>
        function startSpinner() {
            var myVar = setTimeout(showPage, 1000);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementsByClassName("container")[0].style.display = "block";
        }
    </script>


</body>

<script src="../static/admin.js"></script>

</html>